<mat-tab-group>
  <!-- Stocks Tab -->
  <mat-tab label="Stocks">
    <mat-grid-list cols="2"  >
      <mat-grid-tile *ngFor="let ticker of stockList">
        <app-stock 
          (click)="openDialog(ticker, true)"
          [ticker_symbol]="ticker.tickerSymbol"
          [company_name]="ticker.companyName"
          [industry]="ticker.industry"
          [market_price]="ticker.stockPrice"
          [average_volume]="ticker.averageVolume"
          [week52high]="ticker.week52High"
          [week52low]="ticker.week52Low"
          [market_exchange]="ticker.marketExchange">
        </app-stock>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Bonds Tab -->
  <mat-tab label="Bonds">
    <mat-grid-list cols="2" >
      <mat-grid-tile *ngFor="let ticker of bondList">
        <app-bond 
     
          (click)="openDialog(ticker, false)"
          [ticker_symbol]="ticker.tickerSymbol"
          [bond_price]="ticker.bondPrice"
          [coupon_rate]="ticker.couponRate"
          [credit_rating]="ticker.creditRating"
          [issuer]="ticker.issuer"
          [face_value]="ticker.faceValue"
          [maturity_date]="ticker.maturityDate">
        </app-bond>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
