<mat-tab-group>
  <!-- Stocks Tab -->
  <mat-tab label="Stocks">
    <mat-grid-list cols="2"  >
      <mat-grid-tile *ngFor="let ticker of stockList">
        <app-stock 
          (click)="openDialog(ticker, true)"
          [ticker_symbol]="ticker.id"
          [company_name]="ticker.company_name"
          [industry]="ticker.industry"
          [market_price]="ticker.stock_price"
          [average_volume]="ticker.average_volume"
          [week52high]="ticker.week52high"
          [week52low]="ticker.week52low"
          [market_exchange]="ticker.market_exchange">
        </app-stock>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Bonds Tab -->
  <mat-tab label="Bonds">
    <mat-grid-list cols="2" >
      <mat-grid-tile *ngFor="let ticker of bondList">
        <app-bond 
          (click)="openDialog(ticker, false)"
          [ticker_symbol]="ticker.id"
          [bond_price]="ticker.bond_price"
          [coupon_rate]="ticker.coupon_rate"
          [credit_rating]="ticker.credit_rating"
          [issuer]="ticker.issuer"
          [face_value]="ticker.face_value"
          [maturity_date]="ticker.maturity_date">
        </app-bond>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
