
   <mat-card>
      <mat-card-header>
         {{company_name}}
      </mat-card-header>
      <mat-card-content>
         Ticker Symbol : {{ticker_symbol}}
      </mat-card-content><mat-card-content>
         Industry : {{industry}}
      </mat-card-content>
      <mat-card-content>
         Market Price : ${{market_price}}
         </mat-card-content><mat-card-content>
            Market Volume : {{market_volume}}
         </mat-card-content>
        <mat-card-content>
         Week 52 high : ${{ week52high}}
        </mat-card-content><mat-card-content>

        
        
         Week 52 low : ${{ week52low}}
      </mat-card-content>
   </mat-card>

