<mat-card appearance="outlined">
   <mat-card-header>
     <mat-card-title>
       {{ ticker_symbol }}
     </mat-card-title>
     <mat-card-subtitle>{{ company_name }}</mat-card-subtitle>
   </mat-card-header>
 
   <mat-card-content>
     <div class="chart-container">
       <canvas #chart id="chart"></canvas>
     </div>
   </mat-card-content>
 
   <mat-card-content>
     <div class="info-container">
    
         <!-- <mat-list-item>
         
           <span >Industry {{ industry }}</span>
         </mat-list-item> -->
        
         
       <h6>   ${{ market_price }}</h6>
  <span style="color: #525252;">  Volume: {{ average_volume }}</span>    
   
    
        <pre class="tab1"><span style="font-weight:500;">w52high</span> ${{ week52high }} &emsp; <span style="font-weight: 500;"> w52low </span>${{ week52low }}</pre>
    
    <span style="color: #525252; font-weight:500;">   {{ market_exchange }}</span> 
     </div>
   </mat-card-content>
 </mat-card>
 