mat-card {
  margin: 5px;
  padding: 5px;
}

.chart-container {
  text-align: center;
}
.tab1 {
  tab-size: 2;
}

canvas {

  width: 100% !important;
  height: 250px; /* Adjust height as needed */
}

.info-container {
  display: flex;
  flex-direction: column;
}

mat-list {
  padding: 0;
}

mat-list-item {
  display: flex;
  align-items: center;
}


