<button id="somebutton" (click)="handleSwitch()" mat-flat-button>
  Switch to  <span *ngIf="toggleCharts"> table
    </span>
    <span *ngIf="!toggleCharts">
    charts </span></button> 
<div *ngIf="!toggleCharts">
<mat-table [dataSource]="cashFlowEntries" class="mat-elevation-z8">

  
    <!-- Ticker Symbol Column -->
    <ng-container matColumnDef="ticker_symbol">
      <mat-header-cell *matHeaderCellDef> Ticker Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ticker_symbol}} </mat-cell>
    </ng-container>
  
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>
  
    <!-- Asset Name Column -->
    <ng-container matColumnDef="asset_name">
      <mat-header-cell *matHeaderCellDef> Asset Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.asset_name}} </mat-cell>
    </ng-container>
  
    <!-- Realized PnL Column -->
    <ng-container matColumnDef="realized_pnl">
      <mat-header-cell *matHeaderCellDef> Realized PnL </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.realized_pnl}} </mat-cell>
    </ng-container>
  
  
    <!-- Header Row -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
    <!-- Row -->
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table></div>

  <div style="width: 750px;">
    <canvas  style="display: hidden;" #chart id="chart"></canvas>
  </div>

  <div style="width: 750px;">
    <canvas  style="display: hidden;" #chartLine id="chart"></canvas>
  </div>

